<!-- hero -->
<scs-section
  [type]="sectionTypes.HERO_RELATIVE"
  [heroHeight]="vm.heroHeight"
  [bgUrl]="'assets/images/home-hero.jpg'"
  [bgAttachment]="'fixed'">
  <scs-absolute-container
    [top]="'30%'"
    [left]="'50%'">
    <img
      src="assets/images/logo.png"
      class="hero-logo"/>
    <h1
      class="text-white text-center hero-heading">
      Grow With Us
    </h1>
  </scs-absolute-container>
</scs-section>
<!-- end hero -->

<!-- nav -->
<scs-header></scs-header>
<!-- end nav-->

<!-- tiles -->
<scs-section>
  <scs-flex-container
    [height]="'400px'"
    [gap]="'1rem'">
    <scs-tile
      class="flex-1"
      [bgUrl]="'assets/images/lettuce.jpg'">
      <div class="overlay">
        <scs-flex-container
          class="text-white"
          [direction]="'column'"
          [justify]="'center'"
          [align]="'center'"
          [height]="'100%'">
          <h4 class="tile-text">Our Hours</h4>
          <h4 class="tile-text">Monday - Friday</h4>
          <h4 class="tile-text">8:00 - 4:30</h4>
          <h4 class="tile-text">Weekends - As Required Seasonally</h4>
          <h4 class="tile-text">Seasonal Hours As Required</h4>
        </scs-flex-container>
      </div>
    </scs-tile>
    <scs-tile
      class="flex-1"
      [bgUrl]="'assets/images/pigs.jpg'"
      [bgPosition]="'center center'"
      (onClick)="productsPopup.open()">
      <div class="overlay relative">
        <scs-absolute-container
          [top]="'50%'"
          [left]="'50%'">
          <h3
            class="text-white text-center tile-heading">
            Products
          </h3>
        </scs-absolute-container>
      </div>
    </scs-tile>
    <scs-tile
      class="flex-1"
      [bgUrl]="'assets/images/fiddleheads.jpg'"
      (onClick)="servicesPopup.open()">
      <div class="overlay relative">
        <scs-absolute-container
          [top]="'50%'"
          [left]="'50%'">
          <h3
          class="text-white text-center tile-heading">
          Services
        </h3>
        </scs-absolute-container>
      </div>
    </scs-tile>
  </scs-flex-container>
</scs-section>
<!-- end tiles -->

<!-- about -->
<scs-band [color]="colors.HONEYDEW">
  <ng-container *ngIf="vm.about as about">
    <p class="section-heading font-serif">{{ about.heading }}</p>
    <scs-section>
      <scs-flex-container [align]="'center'" [gap]="'1rem'">
        <div class="content-container">
          <ng-container *ngFor="let c of about.content; let i = index;">
            <p class="content-item">{{ c }}</p>
            <br *ngIf="i < about.content.length - 1"/>
          </ng-container>
        </div>
        <div class="image-container" [ngStyle]="{ 'background-image': getBgUrl(about.imagePath)}"></div>
      </scs-flex-container>
    </scs-section>
  </ng-container>
</scs-band>
<!-- end about -->

<!-- testimonials -->
<ng-container *ngIf="vm.testimonials as testimonials">
  <p class="section-heading font-serif">{{ testimonials.heading }}</p>
  <scs-section>
    <scs-grid-container
      [columns]="'repeat(3, 1fr)'"
      [gap]="'1rem'">
      <ng-container *ngFor="let item of testimonials.items">
        <scs-card [bgColor]="colors.TERRA" [height]="'100%'">
          <div class="testimonial">
            <div class="avatar-wrapper" *ngIf="item.avatarPath">
              <img height="64" [src]="item.avatarPath"/>
            </div>
            <p class="testimonial-body">{{ item.body }}</p>
            <p class="testimonial-author text-center font-serif">{{ item.author }}</p>
          </div>
        </scs-card>
      </ng-container>
    </scs-grid-container>
  </scs-section>
</ng-container>
<!-- end testimonials-->

<!-- announcements -->
<ng-container *ngIf="vm.announcements as announcements">
  <scs-band [color]="colors.BLUE">
    <p class="section-heading font-serif">{{ announcements.heading }}</p>
    <scs-section>
      <scs-flex-container [justify]="'space-between'" [align]="'stretch'" [gap]="'10%'">
        <ng-container *ngFor="let item of announcements.items">
          <div class="flex-1">
            <p class="text-center announcement-title">{{ item.title }}</p>
            <p class="announcement-body">{{ item.body }}</p>
            <p class="announcement-body"><span class="text-white">-</span> {{ item.date.toLocaleDateString() }}</p>
          </div>
        </ng-container>
      </scs-flex-container>
    </scs-section>
  </scs-band>
</ng-container>
<!-- end announcements -->

<!-- features -->
<ng-container *ngIf="vm.features as features">
  <p class="section-heading font-serif">{{ features.heading }}</p>
  <scs-section>
    <scs-flex-container [gap]="'10%'">
      <ng-container *ngFor="let product of vm.featuredProducts">
        <div>
          <div class="featured-image" [ngStyle]="{ 'background-image': getBgUrl(product.imagePath)}"></div>
          <div class="feature-separator"></div>
          <p class="product-name text-center">{{ product.name}}</p>
          <p class="product-text">{{ product.description}}</p>
        </div>
      </ng-container>
    </scs-flex-container>
  </scs-section>
</ng-container>
<!-- end features-->

<!-- weather -->
<ng-container *ngIf="vm.weather as weather">
  <scs-band [color]="colors.MAGNOLIA">
    <p class="section-heading font-serif">{{ weather.heading }}</p>
    <scs-section>
      <scs-grid-container
        [columns]="'repeat(8, 1fr)'"
        [gap]="'1rem'">
        <ng-container *ngIf="weatherData && weatherData.daily">
          <ng-container *ngFor="let day of weatherData.daily">
            <scs-card [bgColor]="colors.GREY" [height]="'100%'">
              <scs-grid-container
                [columns]="'1fr'"
                [rows]="'auto 2fr auto 1fr 1fr'"
                [gap]="'1rem'"
                [padding]="'1rem'">
                <scs-flex-container [justify]="'center'" [align]="'center'">
                  <fa-icon class="weather-icon" [icon]="getIcon(day.weather[0].description)"></fa-icon>
                </scs-flex-container>
                <span class="weather-span">{{ day.weather[0].description | uppercase }}</span>
                <span class="weather-span temp">{{ getTempString(day.temp.day) }}&deg;</span>
                <span class="weather-span">{{ getDayOfWeek(day.dt) }}</span>
                <span class="weather-span">{{ getDateString(day.dt) }}</span>
              </scs-grid-container>
            </scs-card>
          </ng-container>
        </ng-container>
      </scs-grid-container>
    </scs-section>
  </scs-band>
</ng-container>
<!-- end weather -->

<!-- stocks -->
<ng-container *ngIf="vm.stocks as stocks">
  <p class="section-heading font-serif">{{ stocks.heading }}</p>
    <scs-section>
      <div [ngStyle]="{ height: '500px' }"></div>
    </scs-section>
</ng-container>
<!-- end stocks -->

<!-- cta -->
<ng-container *ngIf="vm.contact as contact">
  <scs-band [color]="colors.PERIWINKLE">
    <p class="section-heading font-serif">{{ contact.heading }}</p>
    <scs-section>
      <scs-flex-container [justify]="'center'" [align]="'center'" [gap]="'2rem'">
        <scs-button-icon [name]="'at'" [size]="'5rem'"></scs-button-icon>
        <scs-button-icon [name]="'phone'" [size]="'5rem'"></scs-button-icon>
        <scs-button-icon [name]="'facebook'" [size]="'5rem'"></scs-button-icon>
        <scs-button-icon [name]="'twitter'" [size]="'5rem'"></scs-button-icon>
        <scs-button-icon [name]="'instagram'" [size]="'5rem'"></scs-button-icon>
      </scs-flex-container>
    </scs-section>
  </scs-band>
</ng-container>
<!-- end cta -->

<!-- products popup -->
<scs-popup #productsPopup>
    <scs-viewer [label]="'Products'" [items]="vm.productsViewerItems" [baseDetailsPath]="'products'" [baseEmailSubject]="'Questions about'"></scs-viewer>
</scs-popup>
<!-- end popup -->

<!-- services popup -->
<scs-popup #servicesPopup>
  <scs-viewer [label]="'Services'" [items]="vm.servicesViewerItems" [baseDetailsPath]="'services'" [baseEmailSubject]="'Questions about'"></scs-viewer>
</scs-popup>
<!-- end popup -->
