$green: #21aa1a;
$yellow: #fddb04;
$grey: #4d4d4d;
$lilac: #b59da4;
$celeste: #b1f8f2;
$terra: #e07a5f;
$magnolia: #ede6f2;
$honeydew: #ceeddb;
$periwinkle: #c7cedb;
$blue: #a0ced9;
$shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
