<div class="viewer">
  <scs-flex-container [justify]="'space-between'" [align]="'center'">
    <div class="controls">
      <p class="label">{{ label }}</p>
      <scs-button-icon [name]="'decrement'" [color]="'white'" [size]="'1.25rem'" (onClick)="decrement()"></scs-button-icon>
      <scs-button-icon [name]="'increment'" [color]="'white'" [size]="'1.25rem'" (onClick)="increment()"></scs-button-icon>
    </div>
    <div class="actions">
      <scs-flex-container [justify]="'space-around'" >
        <scs-button-icon [name]="'details'" [color]="'white'" [size]="'1.25rem'" (onClick)="showDetails()"></scs-button-icon>
        <scs-button-icon [name]="'at'" [color]="'white'" [size]="'1.25rem'" (onClick)="sendEmail()"></scs-button-icon>
      </scs-flex-container>
      <div class="separator"></div>
    </div>
  </scs-flex-container>
  <div class="spacer"></div>
  <scs-flex-container [justify]="'space-between'" [gap]="'1rem'">
    <ng-container *ngIf="items[selectedIndex] as item">
      <div class="flex-basis">
        <img class="selected-item-image" [src]="item.imagePath"/>
      </div>
      <div class="flex-1">
        <p class="item-heading">{{ item.heading }}</p>
        <p class="item-body">{{ item.body }}</p>
      </div>
    </ng-container>
  </scs-flex-container>
  <div class="separator"></div>
  <div class="padding">
    <scs-flex-container [gap]="'.5rem'" [wrap]="true">
      <ng-container *ngFor="let item of items; let i = index;">
        <div
          (click)="set($event, i)"
          [class]="'thumb'"
          [ngClass]="{ selected: i === selectedIndex }"
          [ngStyle]="{ 'background-image': getImagePath(item) }">
        </div>
      </ng-container>
    </scs-flex-container>
  </div>
</div>
